/* GENERAL STYLING */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #A45A7D, #560e20);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.auth-container {
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
}

.auth-form h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.auth-form input {
    width: 90%;
    padding: 12px 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.auth-form button {
    width: 100%;
    padding: 12px;
    background-color: #560e20;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
}

.auth-form button:hover {
    background-color: #A45A7D
}

.auth-form .text {
    text-align: center;
    margin-top: 15px;
    color: #555;
}

.auth-form .text a {
    color: #2575fc;
    text-decoration: none;
}

.auth-form .text a:hover {
    text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 500px) {
    .auth-container {
        padding: 20px;
        margin: 0 10px;
    }
}

.password-box {
    position: relative;
}

.password-box span {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}